<% @recipes.each do |recipe| %>
  <div class='card'>
    <h2><%= recipe.name %></h2>
    <h2><%= recipe.preparation_time %></h2>
    <h2><%= recipe.cooking_time %></h2>
    <p><%= recipe.description %></p>
  </div>
<% end %>