<div>
  <ul class='box'>
    <li><%= link_to "Public Recipe", root_path %></li>
    <li>|</li>
    <li><%= link_to "My Recipes", recipes_path %></li>
    <li>|</li>
    <li><%= link_to "Foods", foods_path %></li>
    <li>|</li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>