<div>
  <ul class='box'>
    <li class='username'><%= current_user.name %></li>
    <li>|</li>
    <li><%= link_to "Public Recipe", root_path %></li>
    <li>|</li>
    <li><%= link_to "My Recipes", recipes_path %></li>
    <li>|</li>
    <li><%= link_to "Foods", foods_path %></li>
    <li>|</li>   
  </ul>
</div>