<%= render 'shared/nav_menu' %>
<div class="food_menu_box"
  <div>
  <button type='button' class="button_style">
    <%= link_to "Add food", new_food_path %>
  </button>
  </div> 
</div>
<%= render 'food_table' %>
