a {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.card {
  display: flex;
  width: 80%;
  justify-content: space-around;
  border: 2px solid black;
}

.subdiv {
  display: flex;
  flex-direction: column;
}

.subcontainer {
  display: flex;
  width: 100%;
}

.column-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
}

.togglediv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.togglelabel {
  font-size: 1.7rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch[checked='true'] {
  background-color: #44f321;
}

.switch[checked='false'] {
  background-color: #e70c0c;
}

.slider[checked='false'] {
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid black;
}

input[checked='true'] + .slider[checked='true'] {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round[checked='true'] {
  border-radius: 50%;
}

table {
  width: 95%;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
